# Copy-paste this into Vercel > Project > Settings > Environment Variables (Import from .env file)
# Provider: Gmail (App Password)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=vaibhavsingh5373@gmail.com
SMTP_PASS=jtixebsktqqbnelk
MAIL_FROM=vaibhavsingh5373@gmail.com
MAIL_TO=vaibhavsingh5373@gmail.com
